/* css styles */
figure figcaption {
  font-size: 0.85em;
  color: #666;
  text-align: center;
}
p {
  text-indent: 2em; /* 段首缩进两个字宽 */
  margin-top: 0;
  margin-bottom: 0em;
 
}
h1, h2, h3 {
  text-align: center;
}
