/* css styles */
figure figcaption {
  font-size: 0.85em;
  color: #666;
  text-align: center;
}
p {
  text-indent: 2em; /* 段首缩进两个字宽 */
  margin-top: 0;
  margin-bottom: 0em;
 
}
h1, h2, h3 {
  text-align: center;
}


.audio-line {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 8px;
  margin-bottom: 10px;
}
.audio-line button {
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}
.audio-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  vertical-align: middle;
  line-height: 1;
}
.audio-button svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}